{% extends 'base.html.twig' %}

{% block title %}Edit City{% endblock %}

{% block body %}
    <h1>Edytuj lokalizację</h1>

    {{ include('city/_form.html.twig', {'button_label': 'Zaktualizuj'}) }}

    <a href="{{ path('city_index') }}">Powrót do listy</a>

    {{ include('city/_delete_form.html.twig') }}
{% endblock %}
