{% extends 'base.html.twig' %}

{% block title %}City index{% endblock %}

{% block body %}
    <h1>Pogodynka</h1>

    <table class="table" BORDER CELLSPACING=5 CELLPADDING=15>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Kraj</th>
                <th>Szerokość</th>
                <th>Długość</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.id }}</td>
                <td><a href="{{ path('city_action', {'cityName': city.name}) }}">{{ city.name }}</a></td>
                <td>{{ city.country }}</td>
                <td>{{ city.latidude }}</td>
                <td>{{ city.longitude }}</td>
                <td>
                    <a href="{{ path('city_show', {'id': city.id}) }}">Pokaż</a>
                    <a href="{{ path('city_edit', {'id': city.id}) }}">Edytuj</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Nie znaleziono rekordów</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('city_new') }}">Utwórz nowy</a>
{% endblock %}
