{% extends 'base.html.twig' %}

{% block title %}New City{% endblock %}

{% block body %}
    <h1>Dodaj nowe miasto</h1>

    {{ include('city/_form.html.twig') }}

    <a href="{{ path('city_index') }}">Powrót do listy</a>
{% endblock %}
