{% extends 'base.html.twig' %}

{% block title %}City{% endblock %}

{% block body %}
    <h1>Miasto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ city.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ city.name }}</td>
            </tr>
            <tr>
                <th>Kraj</th>
                <td>{{ city.country }}</td>
            </tr>
            <tr>
                <th>Szerokość</th>
                <td>{{ city.latidude }}</td>
            </tr>
            <tr>
                <th>Długość</th>
                <td>{{ city.longitude }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('city_index') }}">Powrót do listy</a>

    <a href="{{ path('city_edit', {'id': city.id}) }}">Edytuj</a>

    {{ include('city/_delete_form.html.twig') }}
{% endblock %}
