{% extends 'base.html.twig' %}

{% block title %}Edit Measurement{% endblock %}

{% block body %}
    <h1>Edytuj pomiar</h1>

    {{ include('measurement/_form.html.twig', {'button_label': 'Zaktualizuj'}) }}
    <a href="{{ path('city_action', {'cityName': measurement.city.name}) }}">Powrót do listy</a>

    {{ include('measurement/_delete_form.html.twig') }}
{% endblock %}
