{% extends 'base.html.twig' %}

{% block title %}Measurement index{% endblock %}

{% block body %}
    <h1>Pomiary</h1>

    <table class="table" BORDER CELLSPACING=5 CELLPADDING=15>
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Temperatura</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for measurement in measurements %}
            <tr>
                <td>{{ measurement.id }}</td>
                <td>{{ measurement.date ? measurement.date|date('Y-m-d') : '' }}</td>
                <td>{{ measurement.temperature }}</td>
                <td>
                    <a href="{{ path('measurement_show', {'id': measurement.id}) }}">Pokaż</a>
                    <a href="{{ path('measurement_edit', {'id': measurement.id}) }}">Edytuj</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Nie znaleziono rekordów</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('measurement_new') }}">Utwórz nowy</a>
    <a href="{{ path('city_index') }}">Powrót do listy</a>
{% endblock %}
