{% extends 'base.html.twig' %}

{% block title %}New Measurement{% endblock %}

{% block body %}
    <h1>Nowy pomiar</h1>

    {{ include('measurement/_form.html.twig') }}

    <a href="{{ path('measurement_index') }}">Powrót do listy</a>
{% endblock %}
