{% extends 'base.html.twig' %}

{% block title %}Measurement{% endblock %}

{% block body %}
    <h1>Measurement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ measurement.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ measurement.date ? measurement.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ measurement.temperature }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('measurement_index') }}">back to list</a>

    <a href="{{ path('measurement_edit', {'id': measurement.id}) }}">edit</a>

    {{ include('measurement/_delete_form.html.twig') }}
{% endblock %}
